.interface {
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content:center ;
    margin: auto;
}

.banner{
    margin-top: 5%;
    width: 100%;
}

.textoLorem{
    margin-top: 5%;
    text-align: left;
}

.galeriaFotos{
    text-align: center;
    align-items: center;
    justify-content:center ;
    
    margin-top: 5%;
    display: flex;
    gap: 15px;
    width: 100%;
}

.galeriaFotos img{
    width: 200px;
    height: 140px;

    border: 2px solid #1b1b1b;
}

.containerPerguntas{
    margin-top: 5%;
    padding-bottom: 5%;

    width: 100%;
}

.containerPerguntas h2{
    margin-bottom: 3%;
}

.containerPerguntas .perguntas{
    text-align: left;
    align-items: left;

    margin-bottom: 3px;
    padding: 10px;

    background-color: #d3d3d3;
    border: 1px solid silver;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.containerPerguntas .perguntas:focus-within{
    background-color: #1b1b1b;
    color: #f1f1f1;
}

.containerPerguntas .conteudo{
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    padding: 15px;
}

@media screen and (max-width: 1050px) {
    .galeriaFotos{
        display: inline-block;
    }

    .galeriaFotos img{
        margin: 10px;
    }
}